.sass{
    background-color: aqua;
    .box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .image{
            width: 300px;
        }
        .parr{
            color: rgb(228, 225, 225);
            font-family: 'Segoe UI';
            font-size: 20px;
        }


    }
}
.caja{
    display: flex;
    flex-direction: column;
    &__subtitulo{
        color: aqua;
        font-size: 25px;
    }
    &__texto{
        color: antiquewhite;
        font-size: 15px;
        font-family: 'Courier New'
    }
}