.noticia{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;

    &__titulo{
        text-align: center;
        color: #8b0000;
        font-size: 40px;
        font-family: fantasy;
        padding: 30px;
}
    &__texto{
        color: #ffffff;
        font-size: 20px;
        padding: 10px;
}
    &__imagen{
        justify-content: center;
        width: 400px;
        transform: scaleY(0.5);
}
    &__imagen1{
        justify-content: space-between;
        width: 500px;
    }
}